.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px auto auto;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-row-gap: 100px;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  background-color: white;
  padding-left: 50px;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

.grid-item {
  position: relative;
  background-color: white;
}
.gllbtn {
  font-size: 30px;
  border: 1px;
}
.de {
  margin-right: 10px;
  float: right;
}
.gllbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.re {
  position: relative;
}

.s_upbtn {
  position: absolute;
  margin-left: 77%;
  margin-top: 2%;
}
